@import './base.scss';
.main {
  padding: 0 10px;
  background-color: $main-bg;
  overflow-y: auto;
  color: $main-text;
}

.typed-cursor {
  font-weight: 700;
  color: $cursor;
}

.love-com {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 20px;
  height: 20px;
  &.love-expand {
    animation: LoveExpand;
  }
  &.love-contract {
    animation: LoveContract;
  }
}

.icon-loading {
  display: inline-block;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes LoveExpand {
  from {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
  to {
    width: 0;
    height: 0;
    opacity: 0;
  }
}
@keyframes LoveContract {
  from {
    width: 0;
    height: 0;
    opacity: 0;
  }
  to {
    width: 20px;
    height: 20px;
    opacity: 1;
  }
}

.build-item {
  color: #e3b4b8;
  .item {
    display: flex;
    font-weight: 700;
    padding: 5px 0;
  }
  .build-before,
  .build-day {
    margin-right: 10px;
  }
  .build-time {
    color: #c4908e;
  }
}

.progress {
  display: flex;
  color: #e3b4b8;
  .build-before,
  .build-progress {
    margin-right: 10px;
  }
}

.main-btn {
  display: flex;
  justify-content:space-around;
  padding-bottom: 30%;
  button {
      font-size: 18px;
      font-weight: 700;
      background-color: transparent;
      border: 0
  }
}

.receive {
  display: flex;
  color: #e3b4b8;
  .receive-before {
    margin-right: 10px;
  }
  .receive-progress {
    font-size: 18px;
    color: #000;
    font-weight: 700;
    // width: 180px;
    margin-left: 10px;
  }
}

.scroll-h5 {
  ::-webkit-scrollbar {
    display: none;
    background-color: transparent;
  }
}


