:root {
  font-size: 16px;
}
// 顶部颜色
$top-bar-bg: rgb(166,27,41);
// header 关闭
$top-bar-close-bg:  rgb(255, 85, 77);
// header 缩小
$top-bar-reduce-color: rgb(254, 180, 40);
// header 放大
$top-bar-amplify-color: rgb(35, 192, 56);

// 背景颜色
$main-bg: rgb(166,27,41);
//$main-bg: rgb(237, 90, 100);
// 内容文本颜色
$main-text: rgba(255, 215, 0);
// 主内容打字光标颜色
$cursor: rgba(205, 224, 252);


// 信封颜色(手机号一面)
$envelope-bg: rgb(214, 80, 71)

