@font-face {
  font-family: "iconfont"; /* Project id 4047479 */
  src: url('iconfont.woff2?t=1684036310855') format('woff2'),
       url('iconfont.woff?t=1684036310855') format('woff'),
       url('iconfont.ttf?t=1684036310855') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-loading:before {
  content: "\e644";
}

.icon-guanbi:before {
  content: "\e600";
}

